#carouselExampleDark img {
  object-fit: cover;
  object-position: top;
  height: auto;
}
.price-section .form-control {
  background: #2b3035 !important;
  color: #e4dfdf !important;
  font-size: 14px;
  border-radius: 0px;
  box-shadow: none !important;
  border: var(--bs-border-width) solid var(--bs-border-color);
  &:focus {
    border: 1px solid white;
  }
}

.carousel-indicators-catalog [data-bs-target] {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
// catalog card style
.product-cart {
  .product-cart-header {
    height: auto;
    width: auto;
    .product-cart-size {
      height: 400px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: auto;
      @include media-breakpoint-down(lg) {
        height: 380px;
      }
    }
  }
}
.action-section {
  visibility: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  top: 67%;
}
.action-section i {
  width: 3.2rem;
  height: 3.2rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-cart-image:hover {
  animation: fadeinfadeout 400ms ease-in;
}
.product-cart-image--add--shop:hover,
.product-cart-image--add--favorite:hover {
  background-color: rgb(255, 107, 107) !important;
  z-index: 25;
}

.product-cart-image:hover {
  .action-section {
    visibility: visible;
    animation: slidein 480ms ease-in;
  }
}
@keyframes slidein {
  0% {
    opacity: 0.2;
    margin-top: 20px;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.8;
    margin-top: 0;
  }
}
@keyframes fadeinfadeout {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}
/* -------------------------------------------------------------------------- */
/*                             ACCAORDION SECTION                             */
/* -------------------------------------------------------------------------- */
@include color-mode(dark) {
  .accordion button {
    color: white !important;
  }
}

.simplebar-content-wrapper .form-check-size {
  margin-right: 0 !important;
  padding: 0 !important;
  margin-bottom: 0.5rem !important;
}

.product-cart-badge {
  width: 130px;
  top: 22px;
  left: 105px;
}

// media queries
