#color-tags-container {
  .black {
    background-color: black;
  }
  .gray {
    background-color: #5c5c5c;
  }
  .blue {
    background-color: rgb(57, 97, 143);
  }
  .brown {
    background-color: #ccaf86;
  }
  .cream {
    background-color: #f5f5e7;
  }
  .dark-blue {
    background-color: #1c396a;
  }
  .green {
    background-color: #4b7939;
  }
  .light-gray {
    background-color: #c5c5c5;
  }
  .olivegreen {
    background-color: #666b1a;
  }
  .orange {
    background-color: #ac6d14;
  }
  .pointed {
    background-color: #ccaf86;
  }
  .red {
    background-color: #f53f32;
  }
  .smoked {
    background-color: #808080;
  }
  .white {
    background-color: #ececeb;
  }
  @include color-mode(dark) {
    .blue {
      background-color: rgb(57, 97, 143);
    }
    .brown {
      background-color: #ccaf86;
    }
    .cream {
      background-color: #f5f5e7;
    }
    .dark-blue {
      background-color: #1c396a;
    }
    .green {
      background-color: #4b7939;
    }
    .light-gray {
      background-color: #c5c5c5;
    }
    .olivegreen {
      background-color: #666b1a;
    }
    .orange {
      background-color: #ac6d14;
    }
    .pointed {
      background-color: #ccaf86;
    }
    .red {
      background-color: #f53f32;
    }
    .smoked {
      background-color: #585857;
    }
    .white {
      background-color: #ececeb;
    }
  }
}
